<%= form_with model: blog_post do |form| %>

  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <span><%= message %></span>
      <% end %>
    </div>
  <% end %>
  

  <div class="my-3">
    <%= form.label :title, class: "text-sm text-gray-500" %>
    <%= form.text_field :title, class:
    "rounded w-full" %>
  </div>

  <div class="my-3">
    <%= form.label :content, class: "text-sm text-gray-500" %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="my-3">
    <%= form.label :published_at, class: "text-sm text-gray-500 block" %>
    <%= form.datetime_select :published_at, include_blank: true, class: "block" %>
  </div>

  <%= form.button class: "block bg-blue-300 px-5 py-3 text-center text-xs font-bold uppercase transition hover:bg-blue-400 rounded mt-6 w-full text-white" %>
<% end %>
